/* ---------------------------- */
/*             RESET            */
/* ---------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
/* Pseudo elements are also included since it is not automatically selected. */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* Calculating widths & heights easier */
}

/* Reset margins */
/* Can be used to battle "collapsing margins" */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}


/* Design requires no bold to be used. */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    /* display: block; */
    /* This element has been commented out, since the "hidden" attribute won't work when display block is enabled. */
}

/* Make forms elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
    /* Default: font properties are not inherited for these elements */
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ---------------------------- */
/*      CUSTOM PROPERTIES       */
/* ---------------------------- */
:root {
    transition-behavior: allow-discrete;
    /* Allow for discrete rules to be animatable. Copy this to the location where it is used. This property is not inherited.*/
    interpolate-size: allow-keywords;
    /* Allows for animating to height auto */

    --clr-white: 0deg 100% 100%;
    --clr-purple-100: 275deg 100% 97%;
    --clr-purple-600: 292deg 16% 49%;
    --clr-purple-950: 292deg 42% 14%;

    --clr-purple-700: 292 82% 33%;

    --ff-work-sans: "Work Sans", sans-serif;

    --fs-p: 1rem;
    --fs-summary: 1.5rem;
    --fs-h1: 2.5rem;

}

/* ---------------------------- */
/*       UTILITY CLASSES        */
/* ---------------------------- */
.bold {
    font-weight: bold;
}


/* ---------------------------- */
/*        PAGE SPECIFICS        */
/* ---------------------------- */
body {
    font-family: var(--ff-work-sans);
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* Such that scaling up does not immediately mean desktop size. */
    background-color: hsl(var(--clr-purple-100));
    min-height: 80vh;
    position: relative;
}

a,
a:visited {
    color: hsl(var(--clr-purple-950) 0.65);
    text-decoration: none;
}

a:hover,
a:focus {
    color: hsla(var(--clr-purple-950));
}

footer {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.container {
    margin: 1.5rem;
    margin-top: 10rem;
    max-width: 580px;
    padding: 2rem;
    background-color: hsl(var(--clr-white));
    border-radius: 0.5rem;
    font-size: var(--fs-p);
    /* text-wrap: balance; */
}

header {
    display: flex;
    flex-direction: row;
    img {
        width: 25px;
        aspect-ratio: 1;
        display: inline;
        vertical-align: text-bottom;
        margin-right: 2rem;
    }
}

main details {
    padding-block: 1rem;
    list-style: none;
    cursor: pointer;
}

main details summary img {
    margin-inline: 0.5rem;
    width: 30px;
    aspect-ratio: 1;
}

main details summary {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main details:hover summary {
    color: hsl(var(--clr-purple-700));
}



main details summary::-webkit-details-marker {
    display: none;
}

/* Include some padding. Should not be done under the pseudo element ::details-content */
main details > p {
    padding-top: 1rem;
}

/* p is a child from this details-content. */
main details::details-content {
    opacity: 0.7;
    font-size: var(--fs-p);
    block-size: 0;
    overflow: hidden;
    transition: 
        block-size 0.5s,
        content-visibility 0.5s
    ;
    transition-behavior: allow-discrete;
}

main details[open] summary img {
    content: url(assets/images/icon-minus.svg);
}

main details[open]::details-content {
    block-size: auto;
}

@media (width > 600px) {
    .container {
        margin: auto;
        margin-top: 11rem;
    }

    body {
        background-image: url(assets/images/background-pattern-desktop.svg);
        background-size: contain;
    }
}